---
layout: site
---

<div class="fixed pocono">
	<div class="sectiontext">
		<div class="facebook-btn" >
			<h1>Timothy C. Fanelli</h1><br/><br/>
			<a class="btn btn-primary btn-block btn-lg round" href="https://www.facebook.com/timfanelli"> 
				Find me on Facebook
			</a>
		</div>
	</div>

</div>

<div class="scrolling">
	<div class="container">
		<div class="row">
		<div class="span2">
			<div class="col-md-12">
				<h2>{{page.title}}</h2>
				{{content}}
			</div>
		</div>
		</div>

	</div>
</div>


